<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  	<mapper namespace="org.edupoll.band.dao.AlbumDao">
  	
  	<insert id="saveAlbum">
  		<selectKey order="BEFORE" keyProperty="albumId" resultType="int">
  			SELECT ALBUMS_SEQ.NEXTVAL FROM DUAL
  		</selectKey>
  		INSERT INTO ALBUMS	VALUES
  		(#{albumId}, #{albumBandRoomId},#{albumTitle}, sysdate)
  	</insert>
  	
  	<select id="findByAlbumId" resultType="album">
  		SELECT * FROM ALBUMS WHERE ALBUM_ID = #{albumId}
  	</select>
  	
  	<select id="findByBandRoomId" resultType="album">
  		SELECT * FROM ALBUMS WHERE ALBUM_BANDROOM_ID = #{albumBandRoomId}
  	</select>
  	
  	<delete id="deleteByAlbumId">
	 	delete from albums where album_id = #{albumId}
	 </delete>
	 
	 <update id="update">
  		UPDATE ALBUMS
  		SET ALBUM_TITLE = #{albumTitle}
  		WHERE ALBUM_ID = #{albumId}
  	</update>
  	
  	<select id="findAlbumWithAlbumImage" resultType="album">
  		select x.album_id
		      ,x.album_bandRoom_id
		      ,x.album_title
		      ,x.album_make_at
		      ,y.image_url
		  from
		(SELECT a.album_id
		       ,a.album_bandRoom_id
		       ,a.album_title
		       ,a.album_make_at
		  FROM ALBUMS a WHERE ALBUM_BANDROOM_ID = #{bandRoomId}) x 
		  	right join images y on x.album_id = y.image_album_id 
		  	where album_id IS NOT NULL
  	</select>
  	
  </mapper>
