<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.edupoll.band.dao.BandMemberDao">

	<resultMap type="bandMember" id="bandMemberWithProfile">
		<result column="member_id" property="memberId"/>
		<result column="member_bandroom_id" property="memberBandRoomId"/>
		<result column="member_user_id" property="memberUserId"/>
		<result column="member_profile_id" property="memberProfileId"/>
		<result column="member_status" property="memberStatus"/>
		<result column="member_user_id" property="memberUserId"/>
		<association property="profile">
			<result column="profile_id" property="profileId"/>
			<result column="profile_user_id" property="profileUserId"/>
			<result column="profile_nickname" property="profileNickName"/>
			<result column="profile_image_url" property="profileImageUrl"/>
		</association>
	</resultMap>
	
	<resultMap type="bandMember" id="ForIndex">
  		<result column="member_bandroom_id" property="memberBandRoomId"/>
  		<result column="member_id" property="memberId"/>
  		<association property="bandRoom">
  			<result column="bandroom_name" property="bandRoomName"/>
  			<result column="cover_image_url" property="coverImageUrl"/> 		
  		</association>
  	</resultMap>
	
	<insert id="saveMember">
		<selectKey order="BEFORE" keyProperty="memberId" resultType="int">SELECT bandmembers_seq.nextval FROM DUAL</selectKey>
		insert into bandmembers values(#{memberId}, #{memberBandRoomId}, #{memberUserId}, #{memberProfileId}, #{memberStatus})
	</insert>

	<select id="findByRoomIdAndUserId" resultMap="bandMemberWithProfile">
		select * from bandmembers m
			left join profiles p on m.member_profile_id = p.profile_id
		where member_bandroom_id = #{memberBandRoomId} and member_user_id = #{memberUserId} 
  </select>

	<select id="findBandRoomsByMemberId" resultMap="ForIndex">
  		select a.*
		      ,b.bandroom_name
		      ,b.cover_image_url
		    from 
		    (select m.member_bandroom_id
		          ,m.member_id
		          from bandmembers m where member_user_id = #{userId}) a 
		          						join bandrooms b on a.member_bandroom_id = b.bandroom_id 
  	</select>

	<select id="findByMemberId" resultType="bandMember">
		select * from bandmembers where member_id = #{memberId}
	</select>
	
	<update id="updateStatus">
		update bandmembers set member_status = #{memberStatus} where member_id = #{memberId}
	</update>
	
	<select id="findByRoomId" resultMap="bandMemberWithProfile">
		select * from
			bandmembers b left join profiles p on b.member_profile_id = p.profile_id
			where member_bandroom_id = #{bandRoomId} and member_status = 'accept'
	</select>

	<select id="countMembers" resultType="int">
		select count(*) from bandmembers where member_bandroom_id = #{memberBandRoomId} and member_status = 'accept'
	</select>
	
	<select id="findRequestByRoomId" resultMap="bandMemberWithProfile">
		select * from
			bandmembers b left join profiles p on b.member_profile_id = p.profile_id
			where member_bandroom_id = #{bandRoomId} and member_status = 'request'
	</select>

</mapper>