<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="org.edupoll.band.dao.BandRoomDao">
  	
  	<insert id="saveBandroom">
  		INSERT INTO BANDROOMS 
  		(BANDROOM_ID,BANDROOM_NAME,BANDROOM_MAKE_AT,COVER_IMAGE_URL,BANDROOM_COLOR,TYPE)
  		VALUES
  		(#{bandRoomId}, #{bandRoomName}, sysdate, #{coverImageUrl}, #{bandRoomColor}, #{type})
  	</insert>
  	
  </mapper>