<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.edupoll.band.dao.ImageDao">

	<insert id="saveImageFromPost">
		insert into images values (images_seq.nextval, #{imageUrl}, #{imageAlbumId, jdbcType=NUMERIC}, #{imagePostId}, #{imageMemberId}, sysdate, #{imageBandRoomId})
	</insert>
	
	<insert id="saveImageForWhole">
		INSERT INTO IMAGES 
		(IMAGE_ID,IMAGE_URL,IMAGE_MEMBER_ID,IMAGE_UPLOAD_AT,IMAGE_BANDROOM_ID)
		VALUES
		(images_seq.nextval,#{imageUrl}, #{imageMemberId} , SYSDATE, #{imageBandRoomId})
	</insert>
	
	<insert id="saveImageForAlbum">
		INSERT INTO IMAGES 
		(IMAGE_ID,IMAGE_URL,IMAGE_ALBUM_ID,IMAGE_MEMBER_ID,IMAGE_UPLOAD_AT,IMAGE_BANDROOM_ID)
		VALUES
		(images_seq.nextval,#{imageUrl}, #{imageAlbumId, jdbcType=NUMERIC}, #{imageMemberId} , SYSDATE, #{imageBandRoomId})
	</insert>
  	
	 <select id="findAllByBandRoomId" resultType="image">
	   SELECT * FROM IMAGES WHERE IMAGE_BANDROOM_ID = #{imageBandRoomId} order by image_id DESC
	 </select>
	 

	 <select id="findAllByAlbumId" resultType="image">
	 	SELECT * FROM IMAGES WHERE IMAGE_ALBUM_ID = #{imageAlbumId}
	 </select>
	 
	 <select id="countImageTotal" resultType="int">
	 	SELECT COUNT(*) FROM IMAGES WHERE IMAGE_BANDROOM_ID = #{imageBandRoomId}
	 </select>
	 
	 <select id="countImageAlbumTotal" resultType="int">
	 	SELECT COUNT(*) FROM IMAGES WHERE IMAGE_ALBUM_ID = #{imageAlbumId}
	 </select>
	 
	 <select id="findAlbumImageByBandRoomIdToFour" resultType="image">
	 	<![CDATA[
	 	select * from images where image_bandroom_id = #{imageBandRoomId}
                        and image_album_id = #{imageAlbumId}
                        	and ROWNUM <= 4
                          	  order by image_id desc
	 	]]>
	 </select>
	 
	 <select id="findImageByImageId">
	 	select * from images where image_id = #{imageId}
	 </select>
	 
	 
	  <select id="findImageByBandRoomIdToSix" resultType="image">
	  <![CDATA[
	 	select * from images where image_bandroom_id = #{imageBandRoomId}
	                       and ROWNUM <= 6 order by image_id DESC
	  ]]>
	 </select>
	 

	 <select id="findAllByPostId" resultType="image">
	 	select * from images where image_post_id = #{imagePostId}
	 </select>
	 
	 <delete id="deleteById">
	 	delete from images where image_id = #{imageId}
	 </delete>
	 
	 <delete id="deleteByPostId">
	 	delete from images where image_post_id = #{imagePostId}
	 </delete>
  
	 <delete id="deleteWholeImage">
	 	DELETE FROM IMAGES WHERE IMAGE_ID = #{imageId}
	 </delete>

</mapper>

