@charset "UTF-8";

.c00C737 {
	background-color: #00C73C;
	color: #fff;
}

.c00B1A0 {
	background-color: #00B1A0;
	color: #fff;
}

.c1BA7E9 {
	background-color: #1BA7E9;
	color: #fff;
}

.c8367EB {
	background-color: #8367EB;
	color: #fff;
}

.cFC5460 {
	background-color: #FC5460;
	color: #fff;
}

.cFC6342 {
	background-color: #FC6342;
	color: #fff;
}

.cFFA91C {
	background-color: #FFA91C;
	color: #fff;
}

.c909090 {
	background-color: #909090;
	color: #fff;
}

.c5879EA {
	background-color: #5879EA;
	color: #fff;
}

.c424B52 {
	background-color: #424B52;
	color: #fff;
}

.cF85C8E {
	background-color: #00c73c;
	color: #fff;
}